*{
	padding: 0;
	margin:0;
}
body{
			background:#18181a;
			color: white;
			font-family: sans-serif;
		}
		.row-c{

			margin: 20px;
			margin-top:80px;
		}
		.container{
			flex-wrap: wrap;
			display: flex;
			align-items:flex-start;
			justify-content: center;
		}
		.docs{
			width: 200px;
			color:white;
			font-size: 12pt;
			font-family: sans-serif;
			text-align: center;
			flex-wrap: wrap;
			height: auto;

		}
		.contenedor{
			width: 300px;
			justify-content: center;
			text-align: center;
			border-radius: 25px;
			box-shadow:0px 8px 14px black;
			background:#18181a;
		}
		.contenedor .body{
			width: 50%;
			font-size: 13pt;
			text-align: center;
			margin-left: 25%;
		}
			.contenedor .body p{
			height: 25%;
		}
		img{
			display: flex;
			width: 100%;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
		}
		.ban{
			display: none;
		}
		.banB{
			animation:0.7s banB linear;
			width: 70%;
			font-size: 10pt;
			padding: 10px;
			border-style: none;
			background: #3611ca;
			color:white;
			margin-bottom: 30px;
			font-weight: 600;
			border-radius: 3px;
		}

		.contenedor:hover .ban{
			content: '';
			display: block;
			opacity: 1;
			position: absolute;
			width: 300px;
			height: 100%;
			background: linear-gradient(170deg, black, #0a0a0aad);
			animation:0.7s linearG linear;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
		}
		.dripple{
			width: 70%;
			font-size: 10pt;
			padding: 10px;
			border-style: none;
			background: #3611ca;
			color:white;
			margin-bottom: 30px;
			font-weight: 600;
			border-radius: 3px;
		}
		.dripple:hover , .banB:hover{
			transition: 1s;
			background: #542cf3;
		}
	.navbar{
		position: fixed;
		display: flex;
		width: 100%;
		height: 20px;
		transition:1s;
		padding: 20px;
	}
		.navbar ul{
		display:inline-flex;
		align-self: end;
		justify-content: end;
		list-style: none;
		font-size: 15pt;
		width: 100%;
	}
	.navbar ul li a{
		padding: 10px;
		color:white;
		text-decoration: none;
	}

	.iframeC{
		width: 100%;
		padding: 20px;
		background: white;
	}
	.damn {
		background: #2b31e89c;
	}

	.modal{
		
		display: none;
		position: fixed;
		z-index: 10;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		overflow: auto;
		background: rgba(0,0,0,0.5);
		color: black;
	}
	.modal-content{
		background: white;
		margin:10% auto;
		padding: 20px;
		width: 70%;
	}
	.modal-content p{
		font-size: 15pt;
		padding: 20px;
	}
	.modal-content h1{
		padding: 20px;
	}
	.closeBtn{
		color: grey;
		float: right;
		font-size:30px;
		transition:1s;
	}
	.closeBtn:hover,.closeBtn:focus{
		color: black;
		text-decoration: none;
		color:coral;
		cursor: pointer;

	}
	.imgBan{
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.tm{
		margin-top: 17px;
	}
		@keyframes linearG{
			from{
				opacity: 0.2;
				background: linear-gradient(170deg, black, #0a0a0aad);
				}to{
					opacity:1;
					background: linear-gradient(170deg, black, #0a0a0aad);
				}
		}
